* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.item {
  transition: all 0.5s ease;
  flex: 1;
  padding: 15px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
}
.item:hover {
  transition: all 0.5s ease;
  flex: 2;
  background-color: red;
}
